body{
	background: #292929;
}
.External{
	position: relative;
	display: inline-block;
	left:30%;
	top:30%;
	padding: 40px 40px;
	background: #5B7876;
	border-radius: 20%;
}
.Internal{
	display: inline-block;
	background: #8F9E8B;
}
#Internal1{
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;

}
#Internal2{
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	padding-right: 31px;
}

.DayAndDate{
	display: inline-block;
	padding-bottom: 25px;
	border-bottom-style: inset;
}
.Day{
	display: inline-block;
	margin-right: 40px;
	margin-left: 7px;
}
#DayOne{
	display: inline-block;
	margin-right: 5px;

}
#DayTwo{
	display: inline-block;
	margin-right: 5px;
}
#DayThree{
	display: inline-block;
}
.Date{
	display: inline-block;
	margin-right: 7px;
}
#DateDayOne{
	display: inline-block;
	margin-right: 5px;
}
#DateDayTwo{
	display: inline-block;
	margin-right: 20px;
}
#DateMonthOne{
	display: inline-block;
	margin-right: 5px;
}
#DateMonthTwo{
	display: inline-block;
}
.breaker{
	width:0;
}
.time{
	padding-top: 25px;
	display: inline-block;
}
#HourOne{
	display: inline-block;
	margin-left: 50px;
	margin-right: 5px;
}
#HourTwo{
	display: inline-block;
	margin-right: 20px;
}
#MinuteOne{
	display: inline-block;
	margin-right: 5px;
}
#MinuteTwo{
	display: inline-block;
	margin-right: 20px;
}
#SecondOne{
	display: inline-block;
	margin-right: 5px;
}
#SecondTwo{
	display: inline-block;
}


.Stick{
	border-width: 3px;
	border-style: solid;

	border-color: #292929;


}

 #s0,#s3,#s6{
	height: 0px;
	width: 20px;
	margin: 5px 6px 5px 6px; 
	padding:0;
}
#s1,#s2,#s4,#s5{
	height: 20px;
	width: 0px;
	display: inline;
	margin:6 0;
	padding:0 0;
}
#ss{
	width:22px;
	display: inline-block;
	margin: 0 0;
	padding:0 0;
	border-width:0px;
}
.Hidden{
	opacity: 0.1;
}
